<section class="hero">
  <img src="/img/hero.jpg" class="hero-img">

  <div class="container">
    <div class="row">
      <div class="hero-caption">
        <div class="hero-caption-inner">
          <div class="hero-content">
            <h1 class="hero-text col-xs-12 col-sm-12 col-md-12">{{{data.heroText}}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
