<section class="container sign-up clearfix">
  <div class="row">
    <h2 class="title">Sign up to learn more</h2>
    <form method="post" action="">
      <input class="col-xs-12 col-sm-6 col-md-3" name="first-name" if="first-name" type="text" placeholder="first name" data-required="true">
			<input class="col-xs-12 col-sm-6 col-md-3" name="last-name" type="text" placeholder="last name" data-required="true">
			<input class="col-xs-12 col-sm-12 col-md-4" name="email" type="email" placeholder="yourname@umich.edu" data-required="true">
			<button class="col-xs-12 col-sm-12 col-md-2" type="submit">Submit</button>
    </form>
  </div>
</section>
